body {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:hover {
  color: #000000;
}

@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Carter+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.nav {
  display: flex;
  font-family: "Poppins", sans-serif;
}
#img {
  /* background-color: black; */
  width: 25%;
  padding: 2px;
  margin: 2px;
  margin-left: -20px;
}
#line {
  width: 1px;
  background-color: black;
  height: 100px;
  margin-top: 1.75%;
}
#text {
  font-weight: 100;
  display: flex;
  padding: 50px;
  gap: 0px 70px;
  opacity: 0.6;
}
#profile {
  display: flex;
  padding: 50px;
  margin-left: 10%;
  gap: 0px 5px;
}
#profile h3 {
  opacity: 0.7;
}

.main {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0px 10px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.main img {
  width: 240px;
  height: 240px;
}
.main p {
  text-align: center;
  font-size: xx-large;
  color: #5d80ff;
  font-weight: 750;
}

#form {
  font-size: xx-large;
  width: 450px;
  background-color: #c6c6c66e;
  border-radius: 5px;
  padding: 10px;
  border-width: 2px;
  border-style: dotted;
  margin-top: 15px;
}

#button {
  background-color: #5d80ff;
  color: white;
  border-radius: 70px;
  padding: 15px;
  width: 250px;
  font-weight: 700;
  font-size: x-large;
  margin-top: 30px;
  margin-left: 24%;
}
