body {
  width: 100%;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Carter+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.carter-one-regular {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.abeezee-regular {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.to-do-neeche {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 169px;
}
.neeche img {
  position: absolute;
  bottom: -100px;
  right: 0;
  z-index: -1;
}

.neeche2 img {
  position: absolute;
  bottom: -91px;
  right: -29px;
  z-index: -1;
}

#nav {
  display: flex;
  font-family: "Poppins", sans-serif;
}
#img {
  /* background-color: black; */
  width: 25%;
  padding: 2px;
  margin: 2px;
  margin-left: -20px;
}
#line {
  width: 1px;
  background-color: black;
  height: 100px;
  margin-top: 1.75%;
}
#text {
  font-weight: 100;
  display: flex;
  padding: 50px;
  gap: 0px 40px;
  opacity: 0.6;
}
#profile {
  display: flex;
  align-items: center;
  padding: 50px;
  margin-left: 10%;
  gap: 0px 5px;
}
#profile h3 {
  opacity: 0.7;
}

#m {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-left: 50px;
  color: #5d80ff;
  font-size: xx-large;
  margin-top: -30px;
  opacity: 0.9;
}

#box {
  /* background-color: aqua; */
  display: flex;
  padding: 20px;
  gap: 0px 100px;
  height: 370px;
  margin-top: -30px;
}
#box1 {
  /* background-color: yellowgreen; */
  border-radius: 36px;
  border-color: rgba(0, 0, 0, 0.099);
  border-width: 3px;
  border-style: solid;

  padding: 60px;
  margin-left: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "ABeeZee", sans-serif;
}
#qr {
  height: 90px;
  width: 89px;
  margin-bottom: 20px;
}
#box1 p {
  font-size: x-large;
  text-align: center;
}
#box1 button {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 33px;
  background-color: #5d80ff;
  margin-top: 20px;
}

#box2 {
  /* background-color: yellowgreen; */
  border-radius: 36px;
  border-color: rgba(0, 0, 0, 0.099);
  border-width: 3px;
  border-style: solid;

  padding: 50px;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "ABeeZee", sans-serif;
}
#tick {
  height: 90px;
  width: 89px;
  margin-bottom: 20px;
}
#box2 p {
  font-size: x-large;
  text-align: center;
}
#box2 button {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 33px;
  background-color: #5d80ff;
  margin-top: 20px;
}

#box3 {
  /* background-color: yellowgreen; */
  border-radius: 36px;
  border-color: rgba(0, 0, 0, 0.099);
  border-width: 3px;
  border-style: solid;

  padding: 60px;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "ABeeZee", sans-serif;
}
#scan {
  height: 90px;
  width: 89px;
  margin-bottom: 20px;
}
#box3 p {
  font-size: x-large;
  text-align: center;
}
#box3 button {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 33px;
  background-color: #5d80ff;
  margin-top: 20px;
}

#line2 {
  height: 5px;
  width: 53%;
  margin-left: 50px;
  margin-top: -33px;
  margin-bottom: 40px;
  background-color: #5d80ff7a;
}

#new {
  display: flex;
  padding: 20px;
  gap: 0px 100px;
  margin-left: 240px;
  height: 370px;
  margin-top: -30px;
  margin-bottom: 15px;
}

#new1 {
  /* background-color: yellowgreen; */
  border-radius: 36px;
  border-color: rgba(0, 0, 0, 0.099);
  border-width: 3px;
  border-style: solid;

  padding: 60px;
  margin-left: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "ABeeZee", sans-serif;
}
#g {
  height: 90px;
  width: 89px;
  margin-bottom: 20px;
}
#new1 p {
  font-size: x-large;
  text-align: center;
}
#new1 button {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 33px;
  background-color: #5d80ff;
  margin-top: 20px;
}

#new2 {
  /* background-color: yellowgreen; */
  border-radius: 36px;
  border-color: rgba(0, 0, 0, 0.099);
  border-width: 3px;
  border-style: solid;

  padding: 50px;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "ABeeZee", sans-serif;
}
#r {
  height: 90px;
  width: 89px;
  margin-bottom: 20px;
}
#new2 p {
  font-size: x-large;
  text-align: center;
}
#new2 button {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 33px;
  background-color: #5d80ff;
  margin-top: 20px;
}
