body {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Carter+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.nav {
  display: flex;
  font-family: "Poppins", sans-serif;
  margin-top: -20px;
}
#img {
  width: 25%;
  padding: 2px;
  margin: 2px;
  margin-left: -20px;
}
#line {
  width: 1px;
  background-color: black;
  height: 100px;
  margin-top: 1.75%;
}
.text {
  font-weight: 100;
  display: flex;
  padding: 50px;
  gap: 0px 55px;
  opacity: 0.6;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  margin: 50px 0px 0px 130px;
  padding: 15px;
  background-color: #5d80ffdf;
  border-radius: 35px;
  border-width: 0px;
}

.button img {
  width: 25px;
  height: 25px;
  margin: 0px 10px 0px 20px;
}

.button span {
  font-size: x-large;
  color: white;
  margin-left: 10px;
}
#bg {
  color: #5d80ff;
}

/*main body*/

#button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 180px;
  background-color: #ff4e4ef8;
  color: white;
  font-size: x-large;
  margin: 30px 0px 0px 100px;
  gap: 15px;
  border-radius: 41px;
  border-width: 0px;
}

/*form*/
.main {
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.092);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: -110px 0px 0px 25%;
  padding: 10px;
  border-radius: 40px;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.243);
  border-style: solid;
}

.main h1 {
  font-size: 40px;
  color: #5d80ff;
}

.main form input {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.28);
  background-color: #f7f7f7;
  font-size: large;
}
#other input {
  width: 609px;
}
#side input {
  width: 271px;
}
#submit {
  margin: 5px 0px 0px 230px;
  width: 200.89px;
  height: 50.33px;
  padding: 2px;
  background-color: #5d80ffdf;
  color: white;
  text-transform: uppercase;
  border-radius: 35px;
  border-width: 0px;
  font-size: x-large;
}

/*images*/
#neeche {
  bottom: -170px;
  right: -100px;
  position: fixed;
  z-index: -2;
}
#neeche2 {
  bottom: -20px;
  left: -40px;
  position: fixed;
  z-index: -1;
}
