body{
    width: 100%;
    height: 100svh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover {
  color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Carter+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.carter-one-regular {
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.neeche{
    position: fixed;
    bottom: -120px;
    right: -0px;
    z-index: -1;
}
a{
    text-decoration: none;
}
#nav {
    display: flex;
    font-family: "Poppins", sans-serif;
  }
  #img {
    /* background-color: black; */
    width: 25%;
    padding: 2px;
    margin-top: -10px;
    margin-left: -20px;
  }
  #line {
    width: 1px;
    background-color: black;
    height: 100px;
    margin-top: 1.5%;
  }
  #text {
    font-weight: 100;
    display: flex;
    padding: 50px;
    gap: 0px 40px;
    opacity: 0.6;
    height: 100px;
  }
  #text a {
    margin-top: 10px;
    color: black;
    text-transform: uppercase;
    font-size: large;
    font-weight: 600;
  }
  #profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-left: 10%;
    margin-top: -60px;
    gap: 0px 5px;
  }
  #profile h3 {
    opacity: 0.7;
  }
  
#m {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 100px;
    color: #5d80ff;
    font-size: xx-large;
    margin-top: -60px;
    opacity: 0.9;
  }
  
#box {
    /* background-color: aqua; */
    display: flex;
    padding: 20px;
    gap: 0px 20px;
    height: 370px;
    margin: -30px 0px 0px 50px;
}
  
.home-card{
    /* background-color: yellowgreen; */
    background-color: white;
    border-radius: 36px;
    border-color: rgba(0, 0, 0, 0.099);
    border-width: 3px;
    border-style: solid;

    padding: 60px;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "ABeeZee", sans-serif;
}
.QR{
    height: 90px;
    width: 89px;
    margin-bottom: 20px;
}
.home-card p{
    font-size: x-large;
    text-align: center;
}
.button{
    font-family: "Poppins", sans-serif;
    font-size: x-large;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 33px;
    background-color: #5D80FF;
    margin-top: 20px;
    text-align: center;
}

#line2{
    height: 2px;
    width: 40%;
    margin-left: 100px;
    margin-top: -33px;
    margin-bottom: 40px;
    background-color:#5d80ff7a
}